* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    margin: 0;
}

/* HEADER */
.header {
    background: #fff;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    color: #03ac0e;
    font-size: 24px;
    font-weight: bold;
}

/* WRAPPER SEARCH (TENGAH) */
.search-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* SEARCH DIPERKECIL */
.search {
    width: 760px;   /* 👈 tidak terlalu panjang */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* CONTENT */
.container {
    display: flex;
    gap: 20px;
    padding: 30px;
}

.cart {
    background: #fff;
    flex: 3;
    padding: 20px;
    border-radius: 8px;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.cart-info {
    flex: 1;
}

.store {
    font-weight: bold;
}

.price {
    text-align: right;
}

.price del {
    color: gray;
    font-size: 12px;
}

.qty {
    display: flex;
    align-items: center;
    gap: 5px;
}

.qty button {
    width: 30px;
    height: 30px;
}

/* RINGKASAN */
.summary {
    background: #fff;
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
}

.btn-buy {
    width: 100%;
    background: #03ac0e;
    color: #fff;
    border: none;
    padding: 12px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    
}

.btn-buy {
    display: block;   
    text-align: center;
}
